<br>
<div align="center">
  <img src="assets\doe.webp" style="width: 50%; height: 50%" alt="doe">
</div>
<br>
<br>
<nav class="nav">
  <li class="nav-item" style="width: 25%;">
  </li>
  <li class="nav-item" style="width: 24%;">
    <a align="center" class="nav-link" id="submit" routerLink="/mural"><b>Mural de doações</b></a>
  </li>
  <li class="nav-item" style="width: 2%;">
  </li>
  <li class="nav-item" style="width: 24%;">
    <a align="center" class="nav-link" id="submit" routerLink="/painel1"><b>Cadastrar doação</b></a>
  </li>
  <li class="nav-item" style="width: 25%;">
  </li>
</nav>
<br>
